.cardImg{
    margin-top: 0;
max-height: 200px;
}

.favorite:focus {
    outline: none;
    
}

.toyCondition{
    color: #E82649;

    
}

@media (min-width: 320px) and (max-width: 576px) {
    .cardImg{
       max-height: 300px;
    
    }
    
 }
 
 @media (min-width: 768px)  {
    .cardImg{
       max-height: 320px;
       min-height: 320px;
    
    }
 }
 