@media only screen and (max-width: 768px) {
    .form-inline {
        flex-flow: column;
    }
    .btn.btn-outline-info {
       margin-left: auto;
       margin-right: auto;
       margin-top: 5px;
    } 
    .Searchbar {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}

.navbar-container{
    border-radius: 20px;
    margin-top: 1vw;
    background-color: blanchedalmond;
    text-align: center;
}

.form-inline {
    margin-top: 0px;
    padding: 0px;
}

.Searchbar {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    background-color: darkslategray;
    color: white;
}
.Searchbar::placeholder {
    color: white;
    opacity: 0.5;
}
.Searchbar:focus {
    background-color: darkslategray;
    color:white;

}

.btn.btn-outline-info {
    width: auto;
    background-color: orange;
    color: purple;
}
